<html lang="en" data-ng-app="app">
  <head>
    <title>Calendar | JeradBitner.com</title><link rel="canonical" href="http://jeradbitner.com">
    <link href="/favicon.png" rel="icon">
    <script src="/javascripts/modernizr-2.0.js"></script>
    <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    <!-- Bootstrap CDN -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>

    <header role="banner" class="navbar">
      <hgroup class="navbar-inner">
        <a href="/" class="brand"><img src="http://www.gravatar.com/avatar/4950478a2c8a6627004a41b2617948a4?s=20"> Jerad Bitner</a>
      </hgroup>
    </header>

    <div ng-controller="itemController">
      <ul class="nav nav-pills">
        <li ng-repeat="item in items" ng-click="select(item)" ng-class="itemClass(item)"><a href="gcal.html#/{{item}}"></a>{{item | uppercase}}</li>
      </ul>
    </div>

    <div data-ng-view></div>

    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    
    <script>
    'use strict';

    /* Config */

    var app = angular.module('app', []).
    config(function($routeProvider) {
      $routeProvider.
        when('/pst', {
          templateUrl: 'ng-views/pst.html'
        }).
        when('/mst', {
          templateUrl: 'ng-views/mst.html'
        }).
        when('/cst', {
          templateUrl: 'ng-views/cst.html'
        }).
        when('/est', {
          templateUrl: 'ng-views/est.html'
        }).
        otherwise({
          redirectTo: '/est'
        });
    });


    /* Controller */

    function linkController ($scope) {
      $scope.items = ['pst', 'cst', 'mst', 'est'];
      $scope.selected = $scope.items[3];

      $scope.select= function(item) {
        $scope.selected = item; 
      };

      $scope.itemClass = function(item) {
        return item === $scope.selected ? 'active' : undefined;
      };
    }

    /* Directive */
    </script>

  </body>
</html>

