---
layout: default
title: Jerad Bitner
---

<div id="home">
  {% for post in paginator.posts %}
    <article class="post">
      <header>
        <h2 class='subheader'><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <time pubdate="pubdate" class="meta">{{ post.date | date_to_string }}</time>
      </header>

      {{ post.excerpt }} ... <a href="{{ post.url }}">read on</a>

    </article>
    <hr />
  {% endfor %}

  <!-- Pagination links -->
  <div id="post-pagination" class="pagination-centered">
    <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="previous page-item">
        {% if paginator.previous_page == 1 %}
          <a href="/" class="page-link">&laquo;</a>
        {% else %}
          <a href="{{ paginator.previous_page_path }}">&laquo;</a>
        {% endif %}
      </li>
    {% else %}
      <li class="previous disabled page-item">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}

      <li class="page page-item">
        {% if paginator.page == 1 %}
          <span class="current-page page-link">1</span>
        {% else %}
          <a href="/" class="page-link">1</a>
        {% endif %}
      </li>

      {% for count in (2..paginator.total_pages) %}
        <li class="page page-item">
          {% if count == paginator.page %}
            <span class="current page-link">{{ count }}</span>
          {% else %}
            <a href="/page{{ count }}" class="page-link">{{ count }}</a>
          {% endif %}
        </li>
      {% endfor %}

    {% if paginator.next_page %}
      <li class="next page-item">
        <a href="{{ paginator.next_page_path }}" class="page-link">&raquo;</a>
      </li>
    {% else %}
      <li class="next disabled page-item">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %}
    </ul>
  </div>  

</div>