---
layout: new
title: New Post | Jerad Bitner
---

<div>
  
  <!-- Input/Preview Post -->
  <div class="wrapper row">
    <div class="col-md-6">

      <!-- Post interface -->
      <form name="postForm">
        <div class="form-group">
          <label for="titleInput">Title</label>
          <input type="text" name="title" ng-model="postTitle" class="form-control" id="titleInput" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="contentsInput">Body</label>
          <textarea name="value" ng-model="postContent" id="contentsInput" class="form-control large-12" rows="20"></textarea>
        </div>
      </form>

      <div class="alert alert-success">Be sure to fill out your GitHub username and password.</div>

      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" placeholder="username" class="form-control" required>
        </div>
        <div class="form-group">
          <input type="password" placeholder="password" class="form-control" required>
        </div>
        <button ng-click="auth()" type="submit" class="btn btn-success pull-right">Submit</button>
      </form>

        
    </div> 

    <!-- Preview -->
    <div class="col-md-6">
      <h1 id="markdown-preview-title" class=" preview-title" ng-bind-html-unsafe="postTitle|convert"></h1>
      <div id="markdown-preview-body" class="well preview-body" ng-bind-html-unsafe="postContent|convert"></div>
    </div>
  </div>

</div>



<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
<script src="js/filters.js"></script>
<script src="js/marked.js"></script>
<script src="js/underscore.js"></script>
<script src="js/base64.js"></script>
<script src="js/github.js"></script>
<script src="js/githubpost.js"></script>