---
layout: default
---
<article class="post">
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="meta mb-4">
      <time pubdate="pubdate">{{ page.date | date: "%B %d, %Y" }}</time>
      {% if page.tags %}
        <span class="ms-2 me-2">•</span>
        <span class="tags">
          {% for tag in page.tags %}
            <a href="/tags/{{ tag | slugify }}.html" class="tag">{{ tag }}</a>
            {% unless forloop.last %}<span class="tag-separator">, </span>{% endunless %}
          {% endfor %}
        </span>
      {% endif %}
      {% if page.category %}
        <span class="ms-2 me-2">•</span>
        <span class="category">{{ page.category }}</span>
      {% endif %}
    </div>
  </header>

  <section class="content">
    {{ content }}
  </section>  
  
  {% if page.category %}
  <section class="related-posts mt-5">
    <h2>Related Posts</h2>
    <div class="related-posts-grid">
      {% assign tags = page.category | split: ", " %}
      {% assign max_related = 3 %}
      {% assign related_count = 0 %}
      
      {% for post in site.posts %}
        {% if post.url != page.url %}
          {% assign has_common_tag = false %}
          {% assign post_tags = post.category | split: ", " %}
          
          {% for tag in tags %}
            {% if post_tags contains tag %}
              {% assign has_common_tag = true %}
              {% break %}
            {% endif %}
          {% endfor %}
          
          {% if has_common_tag and related_count < max_related %}
            <div class="related-post">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <div class="meta">
                <time>{{ post.date | date: "%B %d, %Y" }}</time>
                {% if post.category %}
                  <span class="ms-2 me-2">•</span>
                  <span class="category">{{ post.category }}</span>
                {% endif %}
              </div>
              {% if post.excerpt %}
                <p class="excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
              {% endif %}
            </div>
            {% assign related_count = related_count | plus: 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  {% endif %}
  
  {% if page.comments != false %}
  <section class="comments mt-5">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'jbitner';
        var disqus_url = window.location.href;
        if (disqus_url.indexOf('#') >= 0) {
          disqus_url = disqus_url.split('#')[0];
        }
        var last_char = disqus_url[disqus_url.length-1]
        if (last_char == '/') {
          disqus_url = disqus_url.substring(0, disqus_url.length-1);
        }

        var disqus_config = function () {
          this.page.url = disqus_url;
          this.page.identifier = '{{ page.id }}';
          this.page.colorScheme = 'dark';
          this.page.integration = {
            hide: ['recommendations', 'discovery']
          };
        };

        (function() {
            var dsq = document.createElement('script'); 
            dsq.type = 'text/javascript'; 
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
  {% endif %}
</article>
